.landing-main {
  margin: 1rem;
}

.landing-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10rem;
  text-align: center;
}

.user-container {
  background-color: #404EED;
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 35rem;
  min-width: 30rem;
}

.none-user-container {
  background-color: #404EED;
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 35rem;
  min-width: 30rem;
}

.non-user {
  margin: 0 0 2rem;
}

.landing-login, .landing-signup {
  background-color: #292d5a;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
}

.landing-login:hover {
  border: 2px #b1b1b1;
  border-radius: 5px;
  box-shadow: none;
}

.landing-signup:hover {
  border: 2px #b1b1b1;
  border-radius: 5px;
  box-shadow: none;
}

.icon {
  display: flex;
  align-items: center;
  color: white;
}
