.movie-detail-container  {
  display: flex;
  justify-content: center;
}

.movie-detail-card {
  width: 40rem;
  display: flex;
  align-items: center;
}

.movie-detail-img {
  margin: 1rem 0 0 0;
  border-radius: 10px;
  width: 30vmin;
}

.movie-detail-title {
  margin: 1.5rem 0 0 0;
}

.movie-overview {
  padding: 1.5rem 2rem 0;
}

.add-movie {
  margin: 0 1rem 1.5rem;
  color: white;
  border: none;
  background-color: #292d5a;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  text-decoration-line: none;
}

.add-movie:hover {
  transition-delay: .1s;
  box-shadow: none;
  text-decoration: none;
}