.profile-name {
  margin: 1.5rem 0 1rem;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px 1px  rgba(0, 0, 0, .6), 0 6px 20px  rgba(0, 0, 0, 0.19);
}

.card-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  
}
@media screen and (max-width: 1700px ) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1400px ) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1050px ) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns:1fr;
  }
}



.modal-content {
  background-color: #404EED;
  padding: 1.5rem 2.5rem;
  margin: 1.5rem 0 0 0;
  border-radius: 5px;
  max-width: 35rem;
  min-width: 30rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details-btn {
  margin: 0 1rem;
  color: white;
  border: none;
  background-color: #292d5a;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
}

.details-btn:hover {
  transition-delay: .1s;
  box-shadow: none;
}

.close-btn {
  margin: 0 1rem;
  color: white;
  border: none;
  background-color: #292d5a;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
}

.close-btn:hover {
  transition-delay: .1s;
  box-shadow: none;
  
}
.profile-detail-img {
  border-radius: 10%;
  width: 30vmin;
}

.movie-img {
  border-radius: 5%;
  height: 37vmin;
  
;
}

.videogame-img {
  border-radius: 5%;
  height: 27vmin;
}

.boardgame-img {
  border-radius: 5%;
  height: 30vmin;
}

.card {
  width: 35vmin;
  background-color: #404EED;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 19px;
}

.media-list{
  margin: 3.5rem 0 0 0;
}

.profile-edit {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #404EED;
  padding: .25rem 1rem;
  margin: 1.5rem 0 0 0;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-edit:hover{
  
  border: 2px #b1b1b1;
  border-radius: 5px;
  box-shadow: none;
}

.profile-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}