body {
  background-color: #23272aee;
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.card {
  background-color: #404EED; 
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-img {
  width: 75%;
  height: 75%;
  padding-top: 10px;
  border-radius: 10%;
  margin: 0 auto;
}

.btn {
  background-color: #292d5a;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  background-color: rgba(64,78,237, 65%);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
  background-color: #9901c7;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  font-weight: bold;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Raleway', sans-serif;
}

.navbar-nav {
  align-items: start;
}
.nav-link {
  display: flex;
  align-items: center;
  max-height: 3rem;
  padding: 1rem;
}

a {
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 1px  rgba(0, 0, 0, 0.2), 0 6px 20px  rgba(0, 0, 0, 0.19);
}

a:hover {
  color: #b1b1b1;
}

body {
  background-color:  #0d081e;;
  opacity: 1;
  background-image: url(/public/8247.jpg);
  background-size:100vw;
  
  background-repeat: no-repeat;
  height: fit-content;
  /*  linear-gradient(30deg, #292d5a 12%, transparent 12.5%, transparent 87%, #292d5a 87.5%, #292d5a), linear-gradient(150deg, #292d5a 12%, transparent 12.5%, transparent 87%, #292d5a 87.5%, #292d5a), linear-gradient(30deg, #292d5a 12%, transparent 12.5%, transparent 87%, #292d5a 87.5%, #292d5a), linear-gradient(150deg, #292d5a 12%, transparent 12.5%, transparent 87%, #292d5a 87.5%, #292d5a), linear-gradient(60deg, #292d5a77 25%, transparent 25.5%, transparent 75%, #292d5a77 75%, #292d5a77), linear-gradient(60deg, #292d5a77 25%, transparent 25.5%, transparent 75%, #292d5a77 75%, #292d5a77);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */
}

input {
  border-radius: 5px;
}

.add-boardgame-card-text {
  color: black;
}