.change-password-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.old-password-container {
  margin: 1rem 0 0 0;
}

.old-password-label {
  margin: 0 5px 0 0;
}

.new-password-container {
  margin: 1rem 0 0 0;
}

.new-password-label {
  margin: 0 5px 0 0;
}

.btn-container {
  margin: 1rem 0 0 0;
}



.change-password-btn{
  margin: 0 1rem;
  color: white;
  border: none;
  background-color: #292d5a;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
}
.change-password-btn:disabled {
  margin: 0 1rem;
  color: white;
  border: none;
  opacity: 50%;
  border-radius: 5px;
  box-shadow: none;
  margin-top: 15px;
}
.change-password-btn:hover{
  transition-delay: .1s;
  box-shadow: none;
}

.cancel-btn {
  margin: 0 1rem;
  color: white;
  border: none;
  background-color: #292d5a;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
}

.cancel-btn:hover {
  transition-delay: .1s;
  box-shadow: none;
}
